$main-color: #046380;
$text-color: #002f2f;
$background-color: #e6e2af;

$body-font: "arial", sans-serif;
$body-font-size: 1em;
$body-font-shadow: 0em 0em 0.1em #aaa;

$menu-font: "rockwell", sans-serif;
$menu-font-size: 1.7em;
$menu-background-color: $background-color;
$menu-accent-color: $main-color;

$menu-logo-font-size: 2em;
