@use "./const.scss" as *;

@use "./blog.scss";
@use "./pinned.scss";
@use "./menu.scss";
@use "./scroll.scss";
@use "./kg.scss";
@use "./font.scss";
@use "./external.scss";

body,
html {
  font-size: $body-font-size;
  text-shadow: $body-font-shadow;
  color: $text-color;
  background-color: $background-color;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $menu-font;
  text-align: center;
}

img {
  max-width: 70vw;
  height: auto;
}

a.external::after {
  content: "⃕";
  font-size: 0.6em;
  vertical-align: text-top;
  padding-left: 0.1em;
  display: inline-block;
}

.root-container {
  padding-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
}

.welcome-container {
  min-height: 95vh;
}

@media all and (max-width: 1024px) {
  .root-container {
    margin-left: 1.4em;
    margin-right: 1.4em;
  }

  .columns-on-tablet {
    flex-direction: column;
  }
}

@media all and (max-width: 512px) {
  .root-container {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }

  .columns-on-mobile {
    flex-direction: column;
  }
}
