<!doctype html>
<html lang="en_us">

<!-- render head -->
{{ template "head.go.tmpl" . }}

    <body>

        <section class="root-container welcome-container">

<!-- render menu -->
            <div class="menu-container">
{{ template "menu.go.tmpl" . }}
            </div>

<!-- render pinned -->
            <div class="pinned-container">
{{ range .Pinned }}
                <div class="pinned-post">
{{ template "post.go.tmpl" . }}
                </div>
{{ end }}
            </div>

        </section>

        <section id="this-is-blog" class="root-container blog-container">

<!-- render posts -->
            <div class="posts-container">
{{ range .Posts }}
{{ template "post.go.tmpl" . }}
{{ end }}
            </div>

        </section>

    </body>
</html>